@tailwind base;
@tailwind components;
@tailwind utilities;


/*  Fade In GSAP animation */

.js-media-visibility>* {
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

.js-media-visibility.is-visible>* {
    opacity: 1
}

/*  Splash screen */

#intro {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1.5s;
}

.welcome-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.letter {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 4rem;
}

.letter.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.letter.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Content Home Animations */

.c-home {
    margin-bottom: 40vh;
    margin-top: calc(20vh + 15px);
    min-height: 100vh;
    width: 100%
}

@supports (-webkit-touch-callout:none) {
    .c-home {
        min-height: -webkit-fill-available
    }
}

#js-home-items>div:first-of-type .row:nth-of-type(1) .c-home__item {
    margin-top: 0
}

#js-home-items>div:first-of-type .row:nth-of-type(1) .c-home__item .c-home__media-container {
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s
}

.c-home__item {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    z-index: 200
}

.row:nth-of-type(1) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.333333%;
    max-width: 83.3333333333%;
    margin-top: 10vh
}

.row:nth-of-type(2) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin-left: 33.3333333333%;
    margin-top: 10vh
}

.row:nth-of-type(3) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin-top: 10vh
}

.row:nth-of-type(4) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin-left: 16.6666666667%;
    margin-top: 10vh;
    z-index: 0
}

.row:nth-of-type(5) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 10vh
}

.row:nth-of-type(6) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin-left: 33.3333333333%;
    margin-top: 10vh
}

.row:nth-of-type(7) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin-top: 10vh;
    z-index: 0
}

.row:nth-of-type(8) .c-home__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin-left: 25%;
    margin-top: 10vh
}

.c-home__media-container {
    display: block;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center
}

.c-home__media-container::before {
    background-color: currentColor;
    border-radius: 100%;
    content: "";
    height: 6vw;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all .35s cubic-bezier(1, 0, 0, 1);
    -o-transition: all .35s cubic-bezier(1, 0, 0, 1);
    transition: all .35s cubic-bezier(1, 0, 0, 1);
    width: 6vw;
    z-index: 100
}

html.no-touchevents .c-home__media-container:hover::before {
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%)
}

.c-home__media {
    max-width: none;
    opacity: 0;
    width: calc(100% + 1px)
}


@media (min-width:375px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .c-home__item {
        padding-right: 7.5px;
        padding-left: 7.5px
    }

    .c-home__logo {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width:550px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .c-home__item {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width:768px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .c-home {
        margin-top: 0
    }

    #js-home-items>div:first-of-type .row:nth-of-type(2) .c-home__item .c-home__media-container {
        -webkit-transition: -webkit-transform .1s;
        transition: -webkit-transform .1s;
        -o-transition: transform .1s;
        transition: transform .1s;
        transition: transform .1s, -webkit-transform .1s
    }

    .c-home__item {
        padding-right: 7.5px;
        padding-left: 7.5px
    }

    .row:nth-of-type(1) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 8.3333333333%
    }

    .row:nth-of-type(2) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        margin-left: 66.6666666667%;
        margin-top: -10vh
    }

    .row:nth-of-type(3) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
        margin-left: 8.3333333333%
    }

    .row:nth-of-type(4) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
        margin-left: 33.3333333333%
    }

    .row:nth-of-type(5) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .row:nth-of-type(6) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
        margin-left: 50%;
        margin-top: -10vh
    }

    .row:nth-of-type(7) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row:nth-of-type(8) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        margin-left: 58.3333333333%;
        margin-top: -10vh
    }
}

@media (min-width:992px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .c-home__item {
        padding-right: 7.5px;
        padding-left: 7.5px
    }

    .row:nth-of-type(1) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 29.1666666667%;
        -ms-flex: 0 0 29.1666666667%;
        flex: 0 0 29.1666666667%;
        max-width: 29.1666666667%;
        margin-left: 16.6666666667%
    }

    .row:nth-of-type(2) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        margin-left: 75%
    }

    .row:nth-of-type(3) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        margin-left: 16.6666666667%
    }

    .row:nth-of-type(4) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 41.6666666667%
    }

    .row:nth-of-type(5) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row:nth-of-type(6) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        margin-left: 58.3333333333%
    }

    .row:nth-of-type(7) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .row:nth-of-type(8) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        margin-left: 58.3333333333%
    }
}

@media screen and (min-width:992px) and (min-height:800px) {
    .row:nth-of-type(1) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 35.4166666667%;
        -ms-flex: 0 0 35.4166666667%;
        flex: 0 0 35.4166666667%;
        max-width: 35.4166666667%
    }
}

@media screen and (min-width:992px) and (min-height:850px) {
    .row:nth-of-type(1) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 37.5%;
        -ms-flex: 0 0 37.5%;
        flex: 0 0 37.5%;
        max-width: 37.5%
    }
}

@media screen and (min-width:992px) and (min-height:900px) {
    .row:nth-of-type(1) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }
}

@media screen and (min-width:992px) and (min-height:950px) {
    .row:nth-of-type(1) .c-home__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 45.8333333333%;
        -ms-flex: 0 0 45.8333333333%;
        flex: 0 0 45.8333333333%;
        max-width: 45.8333333333%
    }
}

@media (min-width:1300px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .c-home__item {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}

@media (min-width:1500px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px
    }

    .c-home__item {
        padding-right: 7.5px;
        padding-left: 7.5px
    }
}